<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${add} ? 'Create a Contact' : 'Edit a Contact'" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1 th:text="${add} ? 'Create a Contact:' : 'Edit a Contact:'" />
<a th:href="@{/contacts}">Back to Contact List</a>
<br/><br/>
<a th:href="@{/}">Back to Index</a>
<br/><br/>
<form th:action="${add} ? @{/contacts/add} : @{/contacts/{contactId}/edit(contactId=${contact.id})}"
      th:object="${contact}" method="POST">
    <table border="0">
        <tr th:if="${contact.id}">
            <td>ID</td>
            <td>:</td>
            <td th:utext="${contact.id}">...</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>:</td>
            <td th:utext="${#dates.format(contact.date, 'dd-MM-yyyy HH:mm')}">...</td>
        </tr>
        <tr>
            <td>Имя</td>
            <td>:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>:</td>
            <td><input type="text" th:field="*{phone}"/></td>
<!--            <td th:utext="${contact.phone}">...</td> -->
        </tr>
        <tr>
            <td>Email</td>
            <td>:</td>
            <td><input type="text" th:field="*{email}" /></td>
        </tr>
        <tr>
            <td>Notes</td>
            <td>:</td>
            <td><textarea th:field="*{note}" rows="4" cols="50" /></td>
        </tr>
    </table>
    <input type="submit" th:value="${add} ? 'Create' : 'Update'" />
</form>

<br/>
<!-- Check if errorMessage is not null and not empty -->
<div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />
</body>
</html>